#wrap {

width:750px;

margin:0 auto;

background:#FFFFCC;

}

#header {


background:#ff8c69;

font: italic bold 15px arial, sans-serif;

color : black;

height: 40px;

width : 750px;

border-radius: 15px;

text-align: center;

}


#nav {

background:#7CFC00;

font: italic bold 15px arial, sans-serif;

color : black;

height: 30px;

border-radius: 15px;

margin: 10px;

text-align: center;

}

#nav li a {
	text-decoration: none;
	
}

#sidebar li a {
	text-decoration: none;
	color: white;
	
}

#main {

background:#00FFFF;

float:left;

font: italic bold 20px arial, sans-serif;

color : black;

border : 5px solid black;

height:600px;

width:450px;

padding : -50px;

border-radius: 15px;

margin: 10px;

text-align: center;



}

#sidebar {

background:#FF00FF;

float:right;

font: italic bold 15px arial, sans-serif;

color : white;

border : 5px solid black;

height:600px;

width:200px;

border-radius: 15px;

margin: 10px;

text-align: center;


}

#footer {

background:#8B4513;

font: italic bold 15px arial, sans-serif;

clear:both;

border-radius: 15px;

text-align: center;

}

#nav li {

float:left;

display:block;

width:90px;

line-height: 30px;

}